<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Private_key')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-private_key" class="form-control" name="row[private_key]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Public_key')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-public_key" class="form-control" name="row[public_key]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Address_hex')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-address_hex" class="form-control" name="row[address_hex]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Address_base58')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-address_base58" data-rule="required" class="form-control " rows="5" name="row[address_base58]" cols="50"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Remark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-remark" class="form-control" name="row[remark]" type="text">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
